html,
body {
    width: 100%;
    height: 100%;
    color: #333;
}

body {
    /*font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;*/
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

hr {
    max-width: 50px;
    border-color: rgb(33, 206, 153);
    border-width: 3px;
}

hr.light {
    border-color: #fff;
}

a {
    color: rgb(33, 206, 153);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: rgba(33, 206, 153, 0.7);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    color: #333;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}

.bg-primary {
    background-color: #fff;
    color:black;
    background-image: url(../img/greenfield.png);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.bg-white {
    background-color: #fff;
}

.bg-dark {
    color: #fff;
    background: #343031;
}

.text-faded {
    color: rgba(255,255,255,.7);
}

.section-padding {
    padding: 80px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

.navbar-default {
    border: none;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-logo {
    margin-top: -32px;
    margin-bottom: 10px;
    max-height: 87px;
    margin-left: -10px;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    color: #222;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: rgb(33, 206, 153);
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    /*color: rgb(33, 206, 153)!important;*/
    background-color: rgba(255,255,255,.2);
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color:rgba(255,255,255,.2);
}

@media(min-width:768px) {
    .navbar-default {
        background-color: rgba(255,255,255,.2);
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255,255,255,1);
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: rgba(255,255,255,.7)
    }

    .navbar-default.affix {
        background-color: #fff;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #222;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: rgb(33, 206, 153);
    }
}

.navbar-default .navbar-toggle {
    border: none;
    background: transparent;
}
.navbar-default .navbar-toggle:hover, .navbar-toggle:hover:active, .navbar-toggle:hover:focus, .navbar-toggle:visited {
/*    border: none;*/
    background: transparent;
}

/*Creates space between li's and BUY NOW btn*/
.nav {
    margin-right: 30px;
}

.buy-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(33, 206, 153);
    margin-right: 10px;
    text-align: center;
}

.buy-btn:hover, .buy-btn:active, .buy-btn:focus {
   background-color: rgba(33, 206, 153, 0.7);
}

.nav-buy-btn {
   color: white;
   font-weight: normal;
   font-size: 14px;
   margin: 0;
   padding: 0;
}

.nav-buy-btn:hover, .nav-buy-btn:focus, .nav-buy-btn:active {
   color: white;
   text-decoration: none;
}

.video-container {
    position: relative;
}

.video-container video {
    position: relative;
    z-index: -1;
}


header {
    position: relative;
    min-height: auto;
    text-align: center;
    color: #fff;
}

header .header-content {
    width: 100%;
    padding-top: 14%;
    text-align: center;
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner h4 {
    margin-bottom: 30px;
    font-weight: 300;
    color: rgba(255,255,255,.7);
}

.landing-title {
    color: white;
}

/*VIDEO CONTENT*/
video#bg-video {
  background: url('img/edn-wall-garden-web-clip-frame-1.png') no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  overflow: hidden;
}

/*Hiding video content on small screens*/
@media (max-width: 767px) {

  video#bg-video {
    display: none;
  }

    header {
        position: relative;
        width: 100%;
        min-height: auto;
        text-align: center;
        color: #fff;
        background-image: url(../img/edn-wall-garden-web-clip-frame-1.png);
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }

    header .header-content {
        position: relative;
        width: 100%;
        padding: 100px 15px;
        text-align: center;
    }




}



/*IN THE NEWS SECTION*/
#news {
    background: #333;
    padding: 10px;
    opacity: 0.7;
}

.in-the-news-logo {
    display: inline;
    max-height: 100px;
    width: auto;
}

/*WALLGARDEN SECTION*/
#wallgarden {
    color: black;
    max-width: 100%;
}

.wallgarden-intro {
    margin-top: -20px;
}

#wallgarden hr {
    padding-bottom: 20px;
}


.garden-img {
    display: inline!important;
    max-height: 480px;
}

.garden-description-div {
    margin-top: 50px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .garden-img-div {
        width: 100%;
    }

    .garden-description-div {
       width: 100%;
    }
}

.garden-title {
    color: rgb(255, 138, 101);
}

.garden-title, .software-title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

.garden-description, .software-description {
    text-align: left;
    font-size: 14px;
}

@media screen and (min-width: 0px) and (max-width: 720px) {
  .garden-img {
    max-width: 220px;
    }
}

/*CTA SECTION*/
.typing-header {
    font-size: 30px;
    color: white;
}

.typing {
    color: rgb(255, 138, 101);
}


/*SOFTWARE SECTION*/
.section-heading {
    margin-top: 0;
}

.service-box {
    margin: 50px auto 0;
    max-width: 390px;
}

@media(min-width:992px) {
    .service-box {
        margin: 20px auto 0;
    }

    .phone-icon-block {
        padding-top: 30px;
    }
}

.service-box p {
    margin-bottom: 0;
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.app-img {
    max-width: 100%;
}
/*Footer SECTION*/
.global-footer {
    background: #343031;
    padding: 2.5rem 0;
    text-align: center;
}

.footer-logo {
    max-width: 80px;
}

.footer-links {
    padding-left: 2px;
    padding-right: 2px;
}

.social {
    font-size: 25px;
    padding-top: 10px;
}

.social>a {
    padding-left: 5px;
    padding-right: 5px;
}

.text-primary {
    color: rgb(33, 206, 153);
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.btn-default {
    border-color: #fff;
    color: #222;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    font-weight: normal;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #ededed;
    color: #222;
    background-color: #f2f2f2;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: #fff;
}

.btn-default .badge {
    color: #fff;
    background-color: #222;
}

.btn-primary {
    border-color: rgb(33, 206, 153);
    color: #fff;
    background-color: rgb(33, 206, 153);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    font-weight: normal;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    border-color: #ed431f;
    color: #fff;
    background-color: rgba(33, 206, 153, 0.7);
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: rgb(33, 206, 153);
    background-color: rgb(33, 206, 153);
}

.btn-primary .badge {
    color: rgb(33, 206, 153);
    background-color: #fff;
}

.btn {
    border: 0;
    /*border-radius: 300px;*/
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
    font-weight: normal;
}

.btn-xl {
    padding: 15px 30px;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #222;
}

@media screen and (min-width: 721px) {
  .mobile-only { display: none; }
}

@media screen and (min-width: 0px) and (max-width: 720px) {
  .mobile-hide { display: none; }
}

/*FORM*/
#signup {
    margin-top: -20px;
    padding: 5px;
}

.email-header {
    color: #fff;
}

.email-form {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
    text-align: center;
}

.email-button {
    background: rgb(255, 180, 110);
}


/*PRIVATE POLICY PAGE*/
#privacy-policy {
    padding-left: 20px;
    padding-right: 20px;
}

/*PRODUCT SPEC PAGE*/
#product-specs {
    padding-left: 20px;
    padding-right: 20px;
}

/*Alt Page Navbar Settings*/
.dark-navbar {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    background-color: #fff;
}

.dark-navbar .navbar-toggle {
    border: none;
    background: transparent;
}

.dark-navbar .nav > li>a,
.dark-navbar .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    color: #222;
}

.dark-navbar .nav > li>a:hover,
.dark-navbar .nav>li>a:focus:hover {
    color: rgb(33, 206, 153);
}

.dark-navbar .nav > li.active>a,
.dark-navbar .nav>li.active>a:focus {
    background-color: rgba(255,255,255,.2);
}

.dark-navbar .nav > li.active>a:hover,
.dark-navbar .nav>li.active>a:focus:hover {
    background-color:transparent;
}

.dark-navbar .navbar-toggle:hover, .navbar-toggle:hover:active, .navbar-toggle:hover:focus, .navbar-toggle:visited {
/*    border: none;*/
    background: transparent;
}

.dark-navbar .navbar-toggle .icon-bar {
    background-color: #888;
}

@media(min-width:768px) {

    .dark-navbar {
        background-color: #fff;
    }

    .dark-navbar .nav > li>a,
    .dark-navbar .nav>li>a:focus {
        color: rgba(34,34,34,1);
        background: transparent;
    }

    .dark-navbar .nav > li>a:hover,
    .dark-navbar .nav>li>a:focus:hover {
        color: rgb(33, 206, 153);
    }

    .dark-navbar .navbar-toggle {
        border: none;
    }

}


